<launch>
  <arg name="input" default="camera/color/image_raw" />
  <arg name="detection_threshold" default="0.85" />
  <arg name="config" default="$(find detectron2_ros)/detectron2/configs/COCO-InstanceSegmentation/mask_rcnn_R_50_FPN_3x.yaml" />
  <arg name="model" default="/home/demulab/dspl_ws/include/all_420k/model_final.pth" />
  <arg name="visualization" default="true" />

  <node name="detectron2_ros"  pkg="detectron2_ros" type="restaurant.py" output="screen" >
    <param name="input" value="$(arg input)" />
    <param name="detection_threshold" value="$(arg detection_threshold)" />
    <param name="config" value="$(arg config)" />
    <param name="model" value="$(arg model)" />
    <param name="visualization" value="$(arg visualization)" />
  </node>
</launch>
